<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBxTvbOxRL8xwGh0tkvzyq0ZcY86gAhMkE</string>
	<key>GCM_SENDER_ID</key>
	<string>209909842735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rakananeuk.rakanAneuk</string>
	<key>PROJECT_ID</key>
	<string>rakan-aneuk</string>
	<key>STORAGE_BUCKET</key>
	<string>rakan-aneuk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209909842735:ios:d1c5a684117162c55957da</string>
</dict>
</plist>